@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login {
        width: 80vw;
        height: 50%;
    }
    #imagen {
        float: left;
        width: 30vw;
        height: 100%;

    }
    #formulario {
        float: right;
        width: 50vw;
    }
    .campo input {
        width:calc(100% - 38px)
    }

    
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top,#49a09d, #5f2c82);
    }
    #login {
        width: 70vw;
        height: 300px;
        
    }
    #formulario > h1 {
        margin-bottom: 10px;
    }
    #formulario > p {
        margin-bottom: 10px;

    }
    #imagen {
        float: right;
        width: 50%;
        height: 100%;
    }
    .input-entrar, .botao-esqueci,.campo {
        width: 49%;
    }
    .campo input {
        width: calc(100% - 39px);
    }

}